<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>留言板-上传头像</title>
</head>
<body>
    <form action="/doUpload" method="POST" enctype="multipart/form-data">
        <div>
          <h3>选择上传的图片:</h3>
          <input type="file" name="pic">
        </div>
        <button type="submit" class="btn btn-default">上传</button>
      </form>
</body>
</html>