<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <script src='../libs/angular.min.js'></script>
</head>
<body ng-app='app'>
  <div>
    <ul ng-controller="ctrl">
      <li ng-show='show'>ng-show</li>
      <li ng-hide='show'>ng-hide</li>
      <li ng-if='if'>ng-if</li>
      <li ng-bind="msg">不论写什么都是嘿嘿嘿</li>
      <li>{{msg}}</li>
      <li>
        <input type="radio" name="gender" value="M" ng-checked="sex=='M'">男
        <input type="radio" name="gender" value="F" ng-checked="sex=='F'">女
      </li>
      <li>
        <img ng-src="{{path}}">
      </li>
      <li ng-repeat="k in arr">
        {{k}}
      </li>
      <li>
        <div ng-class=""></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>
<script>
  var app = angular.module('app', []);
  app.controller("ctrl",["$scope",function($scope){
    $scope.show = true;
    $scope.hide= false;
    $scope.if = false;
    $scope.msg = "嘿嘿嘿";
    $scope.sex = 'M';
    $scope.path = "./feijitou.jpg";
    $scope.arr = ['东','南','西','白'];
  }]);
</script>
</html>